
  
  .charts-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
  }

  .main-title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
  }
  .title-head{
    margin-bottom: 30px;
  }
 
  
  .chart {
    width: 40%;
    cursor: pointer;
  }
  
  .chart h3 {
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
  }

  @media screen and (max-width:576px){
    .charts-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .chart{
        width: 70%;

    }
    .title-head{
        .title-head{
            margin-bottom: 100px;
          }
    }
    
  }
  @media screen and (min-width:576px)and (max-width:700px){
    .charts-container{
       flex-direction: column;
       justify-content: center;
       align-items: center;
        min-height: 90vh;
    }
    .chart{
        width: 60%;

    }
    .title-head{
        .title-head{
            margin-bottom: 50px;
          }
    }
    
  }