/* AdminLogin.css */

.body-container-5{
  background-image: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L2lzMTYwNjItaW1hZ2Uta3d2eWZrd3IuanBn.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Arial', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-login-container {

  max-width: 350px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8); /* Add a slight transparency for better readability */
  backdrop-filter: blur(2px); /* Optional: adds a blur effect to the background */
}

@media screen and (min-width:700px){
  .admin-login-container{
    min-width: 200px;
  }
  
}

.admin-login-title {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.admin-login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.form-label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
  align-self: flex-start;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #ff4500;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;

}

.login-button:hover {
  background-color: #e63e00;
}
